In [87]:
import pandas as pd
tinderdf = pd.read_csv('task2.csv')
tinderdf

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,web,"Meridian, Idaho",No,0.000000,0.000000,0
1,292887.9870,web,"Meridian, Idaho",No,0.000000,0.000000,0
2,292894.0656,gender,"Meridian, Idaho",No,499.173606,0.225255,0
3,292887.1180,web,"Meridian, Idaho",No,0.000000,0.000000,0
4,292893.6561,gender,"Meridian, Idaho",No,455.925963,0.211360,0
...,...,...,...,...,...,...,...
1891,292887.5496,web,"Meridian, Idaho",No,0.000000,0.000000,0
1892,292881.6932,mobile,"Meridian, Idaho",No,1203.190399,0.312360,0
1893,292900.8499,gender,"Meridian, Idaho",No,806.378820,0.488025,0
1894,292893.8600,gender,"Meridian, Idaho",No,1149.529381,0.488984,0
1895,292890.2944,web,"Meridian, Idaho",No,0.000000,0.000000,0

In [88]:
tinderdf.isna().any().any()

False

In [89]:
from sklearn.preprocessing import LabelEncoder
def Encoder(df):
          columnsToEncode = list(df.select_dtypes(include=['category','object']))
          le = LabelEncoder()
          for feature in columnsToEncode:
              try:
                  df[feature] = le.fit_transform(df[feature])
              except:
                  print('Error encoding '+feature)
          return df
tinderdf = Encoder(tinderdf)
tinderdf

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,3,46,1,0.000000,0.000000,0
1,292887.9870,3,46,1,0.000000,0.000000,0
2,292894.0656,0,46,1,499.173606,0.225255,0
3,292887.1180,3,46,1,0.000000,0.000000,0
4,292893.6561,0,46,1,455.925963,0.211360,0
...,...,...,...,...,...,...,...
1891,292887.5496,3,46,1,0.000000,0.000000,0
1892,292881.6932,1,46,1,1203.190399,0.312360,0
1893,292900.8499,0,46,1,806.378820,0.488025,0
1894,292893.8600,0,46,1,1149.529381,0.488984,0
1895,292890.2944,3,46,1,0.000000,0.000000,0

In [90]:
from sklearn import model_selection
X = tinderdf.iloc[:,1:6]
Y = tinderdf.iloc[:,6]
test_size = 0.40
seed = 7
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=test_size, random_state=seed)

In [93]:
from sklearn.svm import SVC
svm = SVC(kernel = "linear", C = 0.020, random_state = 4)
svm.fit(X_train,Y_train)
svm.score(X_test, Y_test)*100
#Not a good score

68.51119894598156

In [101]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 1) 
knn.fit(X_train,Y_train)
knn.score(X_test, Y_test)*100

84.7167325428195

In [102]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 50) #increasing hyperparameter (no. of neighbors)
knn.fit(X_train,Y_train)
knn.score(X_test, Y_test)*100

86.29776021080369

In [103]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 15) #somewhat optimal value of hyperparameter (no. of neighbors) 
knn.fit(X_train,Y_train)
knn.score(X_test, Y_test)*100

87.48353096179183

In [104]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier(max_depth = 10, random_state = 4, max_features = None, min_samples_leaf = 1)
dtree.fit(X_train,Y_train)
dtree.score(X_test, Y_test)*100

88.27404479578392

In [107]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier(max_depth = 10, random_state = 4, max_features = None, min_samples_leaf = 15)
#hyperparameter min_samples_leaf generally has an optimal value between 1-20. I found it to be 15 in this dataframe.
dtree.fit(X_train,Y_train)
dtree.score(X_test, Y_test)*100

89.06455862977603

In [108]:
print("KNN Accuracy: %.3f%%" % (knn.score(X_test, Y_test)*100.0))
print("Decision Tree Accuracy: %.3f%%" % (dtree.score(X_test, Y_test)*100.0))

KNN Accuracy: 87.484%
Decision Tree Accuracy: 89.065%